@font-face {
    font-family: akaya;
    src: url('../../../assets/fonts/AkayaTelivigala-Regular.ttf');
}
.listaP{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, auto);
}
.listaPostres{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / 3;
}
.postre{
    border-radius: 15px;
    width: 80%;
    display: flex;
    justify-content: center;
    margin-top: 4%;
}
.inf{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 2%;
}
.image{
    display: flex;
    justify-content: center;
    align-items: anchor-center;
}
.contenedor{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: minmax(100px, auto);
}
mat-card-content{
    display: flex;
    flex-direction: row;
}
mat-card{
    width: 100%;
    display: grid;
    grid-template-columns: auto auto;
}
button{
    font-family: 'akaya';
    font-size: 25px;
    background-color: #FF7F27;
    border:  6px double rgb(255 255 255);
    border-radius: 10px;
    color: #ffffff;
    cursor: pointer;
    width: max-content;
}
.EspacioCrear{
    grid-column: 1 / 3;
    display: flex;
    align-items: center;
    padding-left: 5%;
}