<form action="" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
<div class="registro">
  <section class="box">
    <div class="register">
      <h4>REGISTRO</h4>
      <label>
        USUARIO:
        <input type="text" class="form-control" formControlName="usuario"/>
      </label>
      <label>
        CORREO:
        <input
        mat-input
        type="email"
        formControlName="correo"
         required/>
      </label>
      <label>
        CONTRASEÑA:
        <input type="password"/>
      </label>
      <label>
        CONFIRMAR CONTRASEÑA:
        <input type="password" class="form-control" formControlName="password"/>
      </label>
      <div class="alert" *ngIf="alerta">
        <span>{{msg}}</span>
      </div>
      <button type="submit">REGISTRAR</button>
    </div>
    <div class="sesion1">
        <app-sesion></app-sesion>
    </div>
  </section>
</div>
</form>