<form action="" [formGroup]="formRegister" (ngSubmit)="onSubmit()">
<div class="registro">
  <section class="box">
    <div class="register">
      <h4>REGISTRO</h4>
      <label>
        USUARIO:
        <input type="text"/>
      </label>
      <label>
        CORREO:
        <input type="text" class="form-control" formControlName="correo" />
      </label>
      <label>
        PROFESIÓN:
        <input type="text" />
      </label>
      <label>
        CONTRASEÑA:
        <input type="password" />
      </label>
      <label>
        CONFIRMAR CONTRASEÑA:
        <input type="password"  class="form-control" formControlName="password"/>
      </label>
      <button type="submit">REGISTRAR</button>
    </div>
    <div class="sesion1">
        <app-sesion></app-sesion>
    </div>
  </section>
</div>
</form>