<div class="registro">
  <section class="box">
    <div class="register">
      <h4>REGISTRO</h4>
      <label>
        USUARIO:
        <input type="text" />
      </label>
      <label>
        CORREO:
        <input type="text" />
      </label>
      <label>
        PROFESIÓN:
        <input type="text" />
      </label>
      <label>
        CONTRASEÑA:
        <input type="password" />
      </label>
      <label>
        CONFIRMAR CONTRASEÑA:
        <input type="password" />
      </label>
      <button type="submit">REGISTRAR</button>
    </div>
    <div class="sesion">
      <h4>INICIAR SESION</h4>
      <label> USUARIO 
        <input type="text" />
      </label>      
      <label> CONTRASEÑA 
        <input type="password" />
      </label>
      <button type="submit">Entrar</button>
    </div>
  </section>
</div>
