.registro{
    height: 38rem;
    display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-auto-rows: minmax(auto, auto);
}
.box{
    border: 10px solid #FF7F27;
    width: 100%;
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    display: flex;
    border-radius: 60px;
}
.register{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.sesion1{
    background-color: #f4ceb5;
    border-radius: 0px 50px 50px 0px;
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

h4{
    font-family: 'akaya';
    font-size: larger;
}
label{
    font-family: 'akaya';
    width: 60%;
}
input{
    outline: none;
    border: none;
    border-bottom: .2em solid black;
    width: 100%;
    margin-bottom: 15%;
}
.sesion input{
    background: #f4ceb5;
}

button{
    background: #FF7F27;
    border-radius: 10px;
    border: 3px solid #FF7F27;
    color: #Ffffff;
    font-family: 'akaya';
    width: 50%;
    cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}