<section class="imagenes">
    <img src="../assets/imagenes/imgOne.png" alt="receta">
    <img src="../assets/imagenes/imgTwo.png" alt="Receta">
    <img src="../assets/imagenes/imgThree.png" alt="Receta">
    <img src="../assets/imagenes/imgFour.png" alt="Receta">
  </section>
  <section class="instructions">
    <article>
      <h5>¿QUÉ ES RECETAS ON?</h5>
      <p>La plataforma web Recetas On es un recetario digital que
         permite a todos las personas que les gusta la cocina
         en sus diferentes variedades: recetas caseras,
         de alta cocina, postres, ensaladas, platos fuertes,
         refrescos etc, guardar de manera segura, ordenada, fácil
         y digital cada una de las creaciones culinarias.  </p>
    </article>
    <article>
      <h5>¿COMO SE USA RECETAS ON?</h5>
      <P>
        Esta plataforma web fue creada pensando en el uso fácil,
        lo único debes de hacer es registrarte para que puedas 
        registrar, crear y guardar las nuevas recetas.
        Solo tenemos un espacio en la parte superior que dice recetas,
        alli aparecen todas las recetas que se registran como 
        públicas, es decir se pueden visualizar sin necesidad de registro.
      </P>
    </article>
    <article>
      <h5>INSTRUCCIONES</h5>
      <P>
        Lo primero que debes hacer, es registrarte dando click en el 
        botón regiatrarse o iniciar sesión ubicado en la parte 
        superior de la pantalla.
        Despúes de llenar el formulario de registro, inicias sesión.
        Te aperece una pestaña de mis creaciones y allí puedes crear
        nuevas recetas, editas recetas y ver todas las recetas que has
        creado.
      </P>
    </article>
  </section>
  <!-- <main>
    <section class="form">
      <app-new-form></app-new-form>
    </section>
    <section class="list">
      <app-list></app-list>
    </section>
  </main> -->
  <!-- <div class="separator">
    <h1>POSTRES</h1>
  </div>
  <div class="mainI">
    <section class="form-sweet">
      <app-new-sweet></app-new-sweet>
    </section>
    <section class="list-sweet">
      <app-list-sweet></app-list-sweet>
    </section>
  </div> -->
  <div class="foot">
    
    <app-footer></app-footer>
  </div>
  
