@font-face {
    font-family: akaya;
    src: url('../../../assets/fonts/AkayaTelivigala-Regular.ttf');
}
header{
border: 4px solid #FF7F27;
height: 5rem;
margin-bottom: 2%;
}
.white{
    width: 80%;
    height: 5rem;
    display: block;
    position: absolute;
    z-index: 2;
}
.white img{
    width: 5%;
    height: 95%;
    margin-left: 8%;
}
.white::after{
    content: "";
    position: absolute;
    right: -20;
    width: 35%;
    height: 5rem;
    background: transparent;
    transform: skew(40deg);
}
.orange{
    background-color: #FF7F27;
    height: 5rem;
    width: 65%;
    right: 0px;
    display: block;
    position: absolute;
    z-index: 1;
}
.orange h1{
    color: #ffffff;
    text-align: center;
}
 .orange::before{
    content: "";
    position: absolute;
    left: -32px;
    width: 35%;
    height: 5rem;
    background: #FF7F27;
    transform: skew(40deg);
} 
main{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
}
.mainI{
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 40px;
    margin-top: 2%;
}
.separator{
    background-color:#FF7F27;
    margin-top: 5%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-family: akaya;
    color: #ffffff;
}

.imagenes{
    border: 1px solid #FF7F27;
    width: 100%;
    height: 550px;
    display: flex;
}

.imagenes img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 8;
    transition: 3s ease-in;
    border: 5px solid #FF7F27;
}
.imagenes img:hover{
    width: 20%;
    opacity: 1;
    filter: contrast(120%);
}
.instructions{
    height: 30rem;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
}
article{
    /* border: 1px solid violet; */
    padding: 5%;
}
article h5, p{
    font-family: 'akaya';
    font-size: x-large;
}