<div class="contenedor">
    <div class="boxNav">
        <app-banner-nav></app-banner-nav>
    </div>
    <div class="listas">
        <p>LISTA DE RECETAS GUARDADAS EN LA BASE DE DATOS</p>
        <div class="receta" *ngFor="let place of places">    
            <div class="info">
                <h5>RECETA: </h5>
                <li>{{place.title}}</li>
                <p></p>
                <h5>INGREDIENTES:</h5>
                <li>{{place.ingredients}}</li>
                <p></p>
                <h5>PROCESO: </h5>
                <li>{{place.process}}</li>
                <p></p>
                <h5>AUTOR: </h5>
                <li>{{place.autor}}</li>
                <p></p>
                <button (click)="onClickDelete(place)">QUITAR</button>
            </div>
        </div>
    </div>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>
