<div class="contenedorGeneral">
    <div class="buscador">
        <mat-form-field class="example-full-width">
            <mat-label>Buscar: </mat-label>
            <input 
            [(ngModel)]="textoBuscar" 
            name="textoBuscar" 
            matInput placeholder="Ex. Pizza" 
            value="Sushi"
            (keyup.enter)="buscar()">
       <button matSuffix matIconButton aria-label="Clear" (click)="textoBuscar = ''" (click)="buscar()">
      <mat-icon>close</mat-icon>
    </button>
          </mat-form-field>
    </div>
<div class="targetas">
    <div class="card" *ngFor="let x of recetas">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>{{x.title}}</h3>
            <p>{{x.description}}</p>
               <button type="button" mat-button (click)="openModal(x)">Ver receta completa</button>
        </div>
    </div>
</div>

<div>
</div>
