<div class="contenedorGeneral">
    <div class="buscador">
        <mat-form-field class="example-full-width">
            <mat-label>Buscar: </mat-label>
            <input 
            [(ngModel)]="textoBuscar" 
            name="textoBuscar" 
            matInput placeholder="Ex. Pizza" 
            value="Sushi"
            (keyup.enter)="buscar()">
          </mat-form-field>
    </div>
<div class="targetas">
    <div class="card" *ngFor="let x of recetas">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>{{x.title}}</h3>
            <p>{{x.description}}</p>
               <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div>
    <!-- <div class="card">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>SPAGUETTOOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex dolore dolor sint ullam perferendis esse autem excepturi 
                velit, error vitae consectetur veritatis aut libero, ad, nam 
                incidunt! Nam, nisi facere.</p>
                <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>SPAGUETTOOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex dolore dolor sint ullam perferendis esse autem excepturi 
                velit, error vitae consectetur veritatis aut libero, ad, nam 
                incidunt! Nam, nisi facere.</p>
            <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>SPAGUETTOOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex dolore dolor sint ullam perferendis esse autem excepturi 
                velit, error vitae consectetur veritatis aut libero, ad, nam 
                incidunt! Nam, nisi facere.</p>
            <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>SPAGUETTOOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex dolore dolor sint ullam perferendis esse autem excepturi 
                velit, error vitae consectetur veritatis aut libero, ad, nam 
                incidunt! Nam, nisi facere.</p>
            <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div>
    <div class="card">
        <div class="img">
            <img src="../../../assets/imagenes/feeding.png" alt="">
        </div>
        <div class="card-body">
            <h3>SPAGUETTOOS</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Ex dolore dolor sint ullam perferendis esse autem excepturi 
                velit, error vitae consectetur veritatis aut libero, ad, nam 
                incidunt! Nam, nisi facere.</p>
            <button type="button" mat-button (click)="openModal()">Ver receta completa</button>
        </div>
    </div> -->
</div>

<div>
</div>
