.sesion{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    background-color: #f4ceb5;
    height: 35rem;
    border-radius: 0px 34px 34px 0px;
}

h4{
    font-family: 'akaya';
    font-size: larger;
}
label{
    font-family: 'akaya';
    width: 60%;
}
input{
    outline: none;
    border: none;
    border-bottom: .2em solid black;
    width: 100%;
}
.sesion input{
    background: #f4ceb5;
    margin-bottom: 15%;
}

button{
    background: #ff7f27 ;
    border-radius: 10px;
    border: 3px solid #FF7F27;
    color: #ffffff;
    font-family: 'akaya';
    width: 50%;
    cursor: pointer;
}

button:hover,
button:focus {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

button:hover {
  transform: translateY(-1px);
}

button:active {
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}