footer{
    background: #FF7F27;
    font-family: 'akaya';
    display: flex;
    justify-content: center;
}
ul li{
    list-style: none;
    font-size: medium;
    text-align: center;
    font-weight: 600;
}