.general{
    border: 4px solid #FF7A1F;
    background: #ffeddc;

}
mat-dialog-content{
  display: flex;
  flex-direction: column;
}
button{
    background: #FF7A1F;
    color: #ffffff;
    width: max-content;
}
mat-label{
    color: #FF7A1F;
    font-weight: bold;
}