<div class="general">
  <h2 mat-dialog-title>Receta {{informacion.title}}</h2>
  <mat-dialog-content>
    <mat-label aria-placeholder="valor">Descripción: </mat-label>
    <input matInput disabled value="{{informacion.description}}">
    <mat-label>Ingredientes: </mat-label>
    <input matInput disabled value="{{informacion.ingredients}}">
    <mat-label>Preparación: </mat-label>
    <textarea name="" id="" rows="5" disabled value="{{informacion.process}}">
    </textarea>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button mat-dialog-close>Cerrar</button>
  </mat-dialog-actions>
</div>