<div class="general">
    <h2 mat-dialog-title>Receta Spaguetti</h2>
    <mat-dialog-content>
        <mat-form-field class="example-full-width">
            <mat-label>Descripción</mat-label>
            <input matInput disabled value="My favorite food..">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Ingredientes</mat-label>
            <input matInput disabled value="Arroz, papa, agua, sal, frijoles, aceite">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <mat-label>Preparación</mat-label>
            <input matInput disabled value="My favorite food..">
          </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Cerrar</button>
    </mat-dialog-actions>
</div>
