<div class="contenedor">
    <div class="boxNav">
        <ul>
            <li> <a href="#">MI PERFIL</a></li>
            <li><a href="#"> NUEVA RECETA</a></li>
            <li><a href="#">MIS RECETAS</a></li>
        </ul>
    </div>
    <div class="boxVista">
        <div class="titulo">
            <h4>MI PERFIL</h4>
        </div>
        <div class="vista">
            <label for="">MI USUARIO: </label>
            <input type="text">
            <label for="">MI CORREO: </label>
            <input type="text">
            <label for="">PROFESIÓN: </label>
            <input type="text">
        </div>
        <div class="acciones">
            <button>EDITAR</button>
            <button>ELIMINAR</button>
            <button  (click)="salir()">CERRAR SESIÓN</button>
        </div>
    </div>
</div>

