<div class="contenedor">
    <div class="boxNav">
        <app-banner-nav></app-banner-nav>
    </div>
    <div class="boxVista">
        <div class="titulo">
            <h4>MI PERFIL</h4>
        </div>
        <div class="vista">
            <label for="">MI USUARIO: </label>
            <input type="text">
            <label for="">MI CORREO: </label>
            <input type="text">
            <label for="">PROFESIÓN: </label>
            <input type="text">
        </div>
        <div class="acciones">
            <button>EDITAR</button>
            <button>ELIMINAR</button>
            <button  (click)="salir()">CERRAR SESIÓN</button>
        </div>
    </div>
</div>

