<div class="contenedor">
    <div class="boxVista">
        <div class="titulo">
            <h4>MI PERFIL</h4>
        </div>
        <div class="vista" >
            <label for="">USUARIO: </label>
            <input type="text" [ngModel]="name">
            <label for="">CORREO: </label>
            <input type="text" [ngModel]="email">
            <label for="">Contraseña: </label>
            <input type="text">
        </div>
        <div class="acciones">
            <button  (click)="salir()">CERRAR SESIÓN</button>
            <button>Cambiar contraseña</button>
            <button class="eliminar">ELIMINAR</button>
            <!-- <button (click)="ver()">VER</button> -->
        </div>
    </div>
</div>

