.contiene{
    border: 4px #FF7F27 solid;
}
label{
    width: 100%;
    color: #FF7F27;
    display: flex;
}
input{
    width: 100%;
    border: 2px #FF7F27 solid;
    padding: 1px;
}
button{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 3px #FF7F27 solid ;
    width: 100%;
    cursor: pointer;
}