<div class="main">
  <header>
    <div class="white">
      <h1>RECETAS ON</h1>
      <!-- <img src="../assets/imagenes/simbolo.png" alt="simbolo-recetas"> -->
    </div>
    <div class="orange">
      <div class="contenido">
        <button type="button"><a class="button" routerLink="inicio">Inicio</a></button>
        <button type="button"><a routerLink="recetario">Recetario</a></button>
        <button><a class="button" routerLink="registro">Registrarse/Iniciar sesion</a></button>
      </div>
    </div>
  </header>
  <!-- <div class="principal">
    <app-inicio></app-inicio>
  </div> -->
</div>

<router-outlet></router-outlet>
