<div class="main">
  <header>
    <div class="white">
      <img src="../assets/imagenes/simbolo.png" alt="simbolo-recetas">
    </div>
    <div class="orange">
      <div class="contenido">
        <h1>RECETAS ON</h1>
        <a class="button" routerLink="inicio">Inicio</a>  |    
        <a class="button" routerLink="registro">Registro o Inicio sesion</a> 
      </div>
    </div>
  </header>
  <!-- <div class="principal">
    <app-inicio></app-inicio>
  </div> -->
</div>

<router-outlet></router-outlet>
