@font-face {
    font-family: akaya;
    src: url('../../../assets/fonts/AkayaTelivigala-Regular.ttf');
}
.contenedor{
    width: 100%;
}
p,label, button{
    text-align: center;
    font-family: akaya;
    font-size: 25px;
}
.mb-3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mb-3 input, textarea, select{
    width: 80%;
    margin: 1%;
    border-radius: 10px;
}
button{
    background-color: #FF7F27;
    border-radius: 10px;
    width: 80%;
    color: #ffffff;
    cursor: pointer;
}
mat-dialog-actions button{
    color: #ffffff;
}