<div class="contenedor">
    <div class="boxNav">
        <app-banner-nav></app-banner-nav>
    </div>
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()">
        <div>
            <p>INGRESA LOS DATOS PARA EL REGISTRO DE NUEVAS RECETAS</p>
        </div>
        <div class="mb-3">
            <label class="form-label">Titulo:</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria: </label>
            <select ng-model="Selected" formControlName="category">
                <option class="form-control"  value="{{i}}" *ngFor="let i of options">{{i}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Ingredientes:</label>
            <textarea class="form-control" id="" cols="30" rows="10" formControlName="ingredients"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Proceso:</label>
            <textarea class="form-control" id="" cols="30" rows="10" formControlName="process"></textarea>
        </div>
        <div class="mb-3">
            <label class="from-label">¿Quieres publicar tu receta?</label>
            <select ng-model="Selected" formControlName="public">
                <option value="{{o}}" *ngFor="let o of option">{{o}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Autor:</label>
            <input type="text" class="form-control" formControlName="autor" [ngModel]="autor">
        </div>
        <div class="mb-3">
            <button type="submit">Agregar</button>
        </div>
    </form>
    <footer>
        <app-footer></app-footer>
    </footer>

</div>
