<div class="contenedor">
    <mat-dialog-content class="mat-typography">
    <form [formGroup]="formulario" (ngSubmit)="onSubmit()" id="fomulario">
        <div class="mb-3">
            <label class="form-label">Titulo:</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="mb-3">
            <label class="form-label">Categoria: </label>
            <select ng-model="Selected" formControlName="category">
                <option class="form-control"  value="{{i}}" *ngFor="let i of options">{{i}}</option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label">Descripción:</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
        <div class="mb-3">
            <label class="form-label">Ingredientes:</label>
            <textarea class="form-control" id="" cols="30" rows="10" formControlName="ingredients"></textarea>
        </div>
        <div class="mb-3">
            <label class="form-label">Preparación:</label>
            <textarea class="form-control" id="" cols="30" rows="10" formControlName="process"></textarea>
        </div>
        <div class="mb-3">
            <label class="from-label">¿Quieres publicar tu receta?</label>
            <select ng-model="Selected" formControlName="public">
                <option value="{{o}}" *ngFor="let o of option">{{o}}</option>
            </select>
        </div>
        <div class="mb-3">
            <input type="text" class="form-control" formControlName="autor" [(ngModel)]="autor"  [disabled]="isDisable">
            <button mat-button mat-dialog-close>Agregar</button>
        </div>
    </form>
    <mat-dialog-actions align="center">
        <button mat-button mat-dialog-close>Cancelar</button>
    </mat-dialog-actions>
</mat-dialog-content>
</div>
